[Desktop Entry]
Encoding=UTF-8
Name=Link to http://fc09.deviantart.net/fs71/i/2011/313/9/3/seamless_dirt_ground_texture_by_hhh316-d4fon0w.jpg
Type=Link
URL=http://fc09.deviantart.net/fs71/i/2011/313/9/3/seamless_dirt_ground_texture_by_hhh316-d4fon0w.jpg
Icon=image-jpeg
